body,html{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .header{
      text-align: center;
      margin: 50px 30px;
  }

  .below-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
  }
  .date-time{
      border-radius: 10px;
      margin: 20px 10px;
      padding: 15px 20px;
      height: 80%;
      text-align: center;
  }
  #current{
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    height: 80%;
    text-align: center;
  }
 
  .months{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    flex-wrap: wrap;
  }
  .card-title{
    display: block;
    text-align: center;
    color: #fff;
    background-color: #6184a8;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 300px;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
      height: 20px;
      width: 300px;
      margin: auto;
  }
  .col-1{
      width: 225px;
      text-align: left;
      margin: auto;
  }
  .col-2{
      width: 75 px;
      text-align: left;
      margin: auto;
  }
  
  .bottom-container{
    background-color: #6184a8;
    padding: 30px 0 20px;
    text-align: center;  
    max-width: 100%;
    max-height: fit-content;
    margin: 0px;
}
@media (max-width: 700px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  
    .months .container {
      display: block;
      text-align: center;
    }
  }
